<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--/static/style.css Вказуємо посилання на файл зі стилями -->
    <link rel="stylesheet" href="/static/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <!-- Тег ejs знак меньше процент - позволяет использовать js код -->
    <!-- Этот js код пользователь не увидет, но он отработает так как ejs его розберет -->
    <!-- Для любого тега ejs должен быть закрывающий тег процент знак больше -->
    <h1><%= title %></h1>
    <h1>Чем гуще лес - скибиди доб доб ес ес</h1>
    <!-- Знак меньше процент ровно - позволяет использовать переменные и отображать их на странице -->
        

</body>
</html>
