<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% title= products %></title>
    <script defer src="/static/js/products.js"></script>
</head>
<body>
    <h1>Products list</h1>
    <% products.forEach((product) => { %>
        <h3><%= product.name %></h3>
        <p><%= product.price %></p>
        <img src="<%=product.src %>" alt="">
   <% }) %>
   <button id='button' type="button">Create Product</button>
</body>
</html>